@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
/*  
 border-box ==> in div , we have added border and padding. if we use box-sizing than that padding
 we not increase the size of that div.

 w3 school => see example of it.


*/

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url(pexels-emre-can-acer-2079246.jpg);
  background-size: cover;
  background-position: center;
}

.logo {
  width: 100px;
  cursor: pointer;
}

.navbar {
  width: 85%;
  margin: auto;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar > ul > li {
  display: inline-block;
  list-style: none;
  margin: 0 20px;
  position: relative;
}

.navbar > ul > li > a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.navbar > ul > li::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #009688;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar > ul > li:hover::after {
  width: 100%;
}

.content {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
}

/* By default, your element is at the top of the page, and the top of the element is at 0:

--------Top of Page--------
{element}


------Middle of  Page------



------Bottom of  Page------
top:50%
When you move it down by 50% height (50% of the entire page), the top of the element is at 
the 50% mark, meaning the element starts at 50% and is not centered.

--------Top of Page--------



------Middle of  Page------
{element}


------Bottom of  Page------
top:50%; transform:translateY(-50%);
When the top of the element is at the halfway mark, we can move the element back up by half
of its own height to center it with the whole page. That's exactly what 
transform:translateY(-50%); does:

--------Top of Page--------



{element}-Middle of Page---



------Bottom of  Page------ */

.content > h1 {
  font-size: 60px;
  margin-top: 80px;
}

.content > p {
  margin: 20px 0;
  font-weight: 100;
  line-height: 25px;
}

button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  background: transparent;
  font-weight: bold;
  border: 2px solid #009688;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 16px;
  position: relative;
  overflow: hidden;
}

span {
  background-color: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}

button:hover > span {
  width: 100%;
}

button:hover {
  border: none;
}
